* {
	
margin:0px;
padding:0px;

}

@font-face {
    font-family: 'basic title font';	
 	src: url('../fonts/basictitlefont-webfont.eot')  format('eot'),
	     url('../fonts/basictitlefont-webfont.woff') format('woff'),
		 url('../fonts/basictitlefont-webfont.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto-lightitalic-webfont.eot');
    src: url('../fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic-webfont.woff') format('woff'),
         url('../fonts/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ave_fedan_personal_use_onlyRg';
    src: url('../fonts/avefedan_personal_use-webfont.eot');
    src: url('../fonts/avefedan_personal_use-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avefedan_personal_use-webfont.woff2') format('woff2'),
         url('../fonts/avefedan_personal_use-webfont.woff') format('woff'),
         url('../fonts/avefedan_personal_use-webfont.ttf') format('truetype'),
         url('../fonts/avefedan_personal_use-webfont.svg#ave_fedan_personal_use_onlyRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kg_hard_candy_solidregular';
    src: url('../fonts/kghardcandysolid-webfont.eot');
    src: url('../fonts/kghardcandysolid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kghardcandysolid-webfont.woff2') format('woff2'),
         url('../fonts/kghardcandysolid-webfont.woff') format('woff'),
         url('../fonts/kghardcandysolid-webfont.ttf') format('truetype'),
         url('../fonts/kghardcandysolid-webfont.svg#kg_hard_candy_solidregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kg_hard_candy_stripedregular';
    src: url('../fonts/kghardcandystriped-webfont.eot');
    src: url('../fonts/kghardcandystriped-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kghardcandystriped-webfont.woff2') format('woff2'),
         url('../fonts/kghardcandystriped-webfont.woff') format('woff'),
         url('../fonts/kghardcandystriped-webfont.ttf') format('truetype'),
         url('../fonts/kghardcandystriped-webfont.svg#kg_hard_candy_stripedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'intrique_script_personal_usRg';
    src: url('../fonts/intriquescript_personaluse-webfont.eot');
    src: url('../fonts/intriquescript_personaluse-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intriquescript_personaluse-webfont.woff2') format('woff2'),
         url('../fonts/intriquescript_personaluse-webfont.woff') format('woff'),
         url('../fonts/intriquescript_personaluse-webfont.ttf') format('truetype'),
         url('../fonts/intriquescript_personaluse-webfont.svg#intrique_script_personal_usRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {

background-color: #f9f9f9;


}
/* HEADER */
.header {

width: 100%;
height: 70px;
box-sizing:border-box;
background-color: #fff;
border-bottom:1px #f0f0f0 solid;
position: relative;

}
.logo {

width: 30%;
height: 100%;
box-sizing:border-box;
background-color: transparent;
float: left;
position: relative;

}
.logo h1 {

font-family: 'robotolight_italic';
text-transform: uppercase;
font-weight: bold;
font-size: 28px;
color: #333;
margin:0 auto;
text-align: left;
margin-left: 10px;
margin-top: 8px;

}
.logo img 
{

width: 150px;
padding-top: 8px;
float: left;
margin-left: 30px;

}
.menu {

width: 70%;
height: 100%;
box-sizing:border-box;
float: right;

}
.menu ul {

float: right;
margin-right: 5px;

}
.menu li {

padding: 22px;
font-family: 'robotolight';
font-weight: bold;
font-size: 15px;
color: #666;
list-style: none;
box-sizing:border-box;
float: left;

}
.menu li:hover {

color: #64bc62;

}
.menu a {

text-decoration: none;

}
/* END */
/* SEARCH COURSE */
.banner {

width: 100%;
height: 420px;

background-image: url(../image/forma.jpg);
background-size: 2200px;
background-attachment: fixed;

}
.course_search
{

height: 150px !important;

}
.content-search {

width: 100%;
height: auto;
background-color: #fff;

}
.content-search-header {

width: 100%;
height: 60px;
box-sizing:border-box;
background-color: #f9f9f9;
border-bottom: 1px #f0f0f0 solid;

}
/* Category with selec
.category-content-search {

float: left;
width: auto;
height: 100%;
background-color: transparent;
padding-right: 5px;
border-right: 1px #f0f0f0 solid;

}
.category-content-search label {


font-family: "robotolight";
font-weight: bold;
font-size: 14px;
color: #555;
margin-right: 5px;
margin-left: 5px;

}
.category-content-search select {

padding: 10px;
margin-top: 7px;
border-radius:5px;
cursor: pointer;
border:1px #f0f0f0 solid;
font-family: "robotolight";
font-weight: normal;
font-size: 14px;
color: #555;

}
*/
/* CONTENT SEARCH */
.grid-list-content-search {

float: right;
width: auto;
height: 100%;
background-color: transparent;
border-left: 1px #f0f0f0 solid;

}
.grid-list-content-search button {

float: right;
padding:5px;
margin-top: 15px;
margin-right: 5px;
color: #555;
background-color: transparent;
border:none;

}
.grid-list-content-search label {

font-size: 15px;
margin-right: 5px;

}
.grid-list-content-search i  {

font-size: 16px !important;
margin-top: 0px !important;

}
.grid-list-content-search button:hover {

color: #64bc62 !important;
cursor: pointer !important;

}
.type-search {

float: left;
width: 20%;
height: auto;
box-sizing:border-box;
background-color: #f9f9f9;
border-bottom-right-radius: 5px;
padding-bottom: 30px;

}
.type-search h1 {

font-family: "robotolight";
font-weight: bold;
font-size: 19px;
color: #64bc62;
margin-left: 5px;
padding: 10px 10px 15px 25px;


}
.type-search li {

margin-bottom: 15px !important;
margin-top: 0px !important;
margin-left: 10px;
list-style: none;

}
.type-search li a {

background-image: url(../image/icons.png);
background-position: 0 -100px;
padding-left: 25px;
text-decoration: none;
font-family: "robotolight";
font-weight: normal;
font-size: 15px;
color: #555;

}
.type-search-category {

width: 100%;
height: auto;
max-height: 250px;
overflow-y: auto;
padding: 0px 20px 20px 20px;
box-sizing:border-box;
border-bottom:1px #f0f0f0 solid;

}
.type-search-autor {

width: 100%;
height: auto;
max-height: 250px;
overflow-y: auto;
padding: 0px 20px 20px 20px;
box-sizing:border-box;
border-bottom:1px #f0f0f0 solid;
	
}
.type-search-price {

width: 100%;
height: auto;
max-height: 250px;
overflow-y: auto;
padding: 0px 20px 20px 20px;
box-sizing:border-box;
border-bottom:1px #f0f0f0 solid;
	
}
.content-course
{

width: 80%;
height: auto;
background-color: #f5f5f5;
float: right;
padding-bottom: 40px;
padding-left: 40px;
box-sizing:border-box;
border-left:1px #f0f0f0 solid;


}
/* SEARCH HOME */
.banner-search {

width: 100%;
height: 100%;
background-color: rgba(54, 60, 66, 0.97);

}
.banner-search img {

margin:0 auto;
display: block;
width: 100px ;
padding-top: 40px;

}
.banner-search input[type="search"]{


width: 50%;
padding:14px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
box-sizing:border-box;
border:none;
font-family: "robotolight_italic";
font-weight: bold;
font-size: 25px;
text-indent: 10px;
float: left;
color: #555;
margin-left:22.5%;
display: block;
margin-top: 20px;


}
.btn-search {

width: 5%;
padding:19px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
box-sizing:border-box;
border:none;
font-size: 18px;
background-color: #64bc62;
color: #fff;
margin-top: 20px;

}
.btn-search:hover {

background-color: #6c6c6c;
cursor: pointer;
-webkit-transition: all .2s ease-in-out 0s;
-moz-transition: all .2s ease-in-out 0s;
-o-transition: all .2s ease-in-out 0s;
-ms-transition: all .2s ease-in-out 0s;

}
.banner-search h1 {

font-family: "robotoregular";
font-weight: bold;
font-size: 35px;
color: #fff;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 30px;
text-align: center;

}
.banner-search  span {

color: #64bc62;


}
.banner-search  h2 {

font-family: "robotolight";
font-weight: normal;
font-size: 21px;
color: #fff;
margin-top: -10px;
padding-top: 0px;
text-align: center;

}
/* END */
/* INTRODUCTION */
.introduction {

width: 100%;
height: 300px;
box-sizing:border-box;
padding: 20px;
background-color: #64bc62;

}
.intro_item
{
z-index: 1000;
width: 350px;
height: 100%;
float: left;
margin-left: 50px;
margin-right: -20px;
margin-top: 30px;

}
.intro_item i {

font-size: 40px;
width: 100px;
height: 100px;
margin: 0 auto;
background-color: #fff;
color: #64bc62;
text-align: center;
padding: 30px 0px 25px 0px;
box-sizing:border-box;
border-radius: 50%;
display: block;

}
.intro_item h1 {

font-family: "robotoregular";
font-weight: bold;
font-size: 20px;
color: #fff;
margin-top: 15px;
text-align: center;

}
.intro_item p {

font-family: "robotolight";
font-weight: normal;
font-size: 15px;
color: #fff;
margin-top: 5px;
text-align: center;

}
.intro_item img {

margin-top: -70px;
margin-left: 10px;
width: 390px;

}
/* END */
/* FEATURED COURSES */
.featured_course {

width: 100%;
height: 550px;
box-sizing:border-box;
padding: 20px;
border-top: 1px #f0f0f0 solid;
background-color: #;

}
.featured_course_header{

width: 100%;	
margin:0 auto;
display: block;

}
.featured_course_header i {

margin-top: 5px;
margin-left: 2.5%;
margin-right: 5px;
float: left;
font-size: 45px;
color: #fffc00;

}
.featured_course_header h1 {

font-family: 'robotobold';
font-weight: bold;
color: #555;
margin-top: 5px;
margin-bottom: -5px;
margin-left: 2.5%;
font-weight: normal;
font-size: 23px;
text-align: left;

}
.featured_course_header h2 {

font-family: 'robotolight';
font-weight: bold;
color: #555;
margin-top: 0px;
margin-left: 2.5%;
font-weight: normal;
font-size: 18px;
text-align: left;

}
/* */
/* RECENT COURSES */
.recent_course {

width: 100%;
height: 550px;
box-sizing:border-box;
padding: 20px;
border-top: 1px #f0f0f0 solid;
background-color: #f5f5f5;

}
.recent_course_header {

width: 100%;	
margin:0 auto;
display: block;

}
.recent_course_header i {

margin-top: 5px;
margin-left: 2.5%;
margin-right: 5px;
float: left;
font-size: 45px;
color: #555;

}
.recent_course_header h1 {

font-family: 'robotobold';
font-weight: bold;
color: #555;
margin-top: 5px;
margin-bottom: -5px;
margin-left: 2.5%;
font-weight: normal;
font-size: 23px;
text-align: left;

}
.recent_course_header h2 {

font-family: 'robotolight';
font-weight: bold;
color: #555;
margin-top: 0px;
margin-left: 2.5%;
font-weight: normal;
font-size: 18px;
text-align: left;

}

/* */
/* COURSE */
.course {

width: 293px;
height: auto;
box-sizing:border-box;
background-color: #fff;
cursor: pointer;
border:1px #f0f0f0 solid;
box-shadow: 2px 2px 2px #f0f0f0;
margin-left: 2.5%;
margin-right: -0.5%;
margin-top: 1.5%;
float: left;

}
.course:hover {

border-color:#a9c9f2 ;

}

.course_pic {

width: 100%;
height: 230px;
background-color: transparent;

}
.course_pic img {

height: 100%;
width: 100%;

}
.course_tit {

width: 100%;
height: 80px;
background-color:transparent;
padding: 5px;
border-bottom: 1px #f0f0f0 solid;
box-sizing:border-box;

}
.course_tit h1 {

font-family: 'robotoregular';
font-weight: bold;
margin-left: 5px;
margin-top: 10px;
font-size: 18px;
color: #445;

}
.course_tit h2 {

font-family: 'robotolight_italic';
font-weight: normal;
margin-left: 8px;
margin-top: 0px;
font-size: 15px;
color: #666;
float: left;

}
.course_tit img {

float: right;
width: 35px;
border-radius: 50%;
margin-right: 8px;
margin-top: -16px;

}
.course_price_qnt {

width: 100%;
height: 45px;
background-color: transparent;
padding: 5px;
border-bottom: 1px #f0f0f0 solid;
box-sizing:border-box;

}
.course_price_qnt h1 {

font-family: 'robotolight';
font-weight: bold;
font-size: 18px;
color: #64bc62;
margin-top: 6px;
margin-left: 5px;

}
.course_price_qnt i {

font-size: 15px;
color: #555;
margin-top: 10px;
margin-right: 8px;
margin-left: 10px;
float: left;

}
.course_price_qnt h2 {

font-family: 'robotolight';
font-weight: normal;
font-size: 14px;
color: #555;
margin-top: 8px;

}
/* END */
/* COURSE LIST*/
.course_list {

width: 90%;
height: auto;
box-sizing:border-box;
background-color: #fff;
cursor: pointer;
border:1px #f0f0f0 solid;
box-shadow: 2px 2px 2px #f0f0f0;
margin-left: 2.5%;
margin-right: -0.5%;
margin-top: 1.5%;
float: left;

}
.course_list:hover {

border-color:#a9c9f2 ;

}

.course_pic_list {

width: 40%;
height: 100%;
background-color: transparent;
float: left;
}
.course_pic_list img {

height: 100%;
width: 100%;

}
.course_tit_list {

width: 60%;
height: 80px;
background-color:transparent;
padding: 5px;
border-bottom: 1px #f0f0f0 solid;
box-sizing:border-box;
float: left;

}
.course_tit_list h1 {

font-family: 'robotoregular';
font-weight: bold;
margin-left: 5px;
margin-top: 10px;
font-size: 18px;
color: #445;

}
.course_tit_list h2 {

font-family: 'robotolight_italic';
font-weight: normal;
margin-left: 8px;
margin-top: 0px;
font-size: 15px;
color: #666;
float: left;

}
.course_tit_list img {

float: right;
width: 35px;
border-radius: 50%;
margin-right: 8px;
margin-top: -16px;

}
.course_price_qnt_list {

width: 60%;
height: 45px;
background-color: transparent;
padding: 5px;
border-bottom: 1px #f0f0f0 solid;
box-sizing:border-box;
float: left;

}
.course_price_qnt_list h1 {

font-family: 'robotolight';
font-weight: bold;
font-size: 18px;
color: #64bc62;
margin-top: 6px;
margin-left: 5px;

}
.course_price_qnt_list i {

font-size: 15px;
color: #555;
margin-top: 10px;
margin-right: 8px;
margin-left: 10px;
float: left;

}
.course_price_qnt_list h2 {

font-family: 'robotolight';
font-weight: normal;
font-size: 14px;
color: #555;
margin-top: 8px;

}
.course_desc_list {

width: 60%;
height: auto;
max-height: 120px;
background-color: transparent;
padding: 5px;
box-sizing:border-box;
float: left;

}
.course_desc_list p {

font-family: 'robotolight';
font-weight: normal;
font-size: 14px;
color: #555;
margin-top: 8px;
margin-left: 5px;

}
/* END */
/* FOOTER */
.footer {

width: 100%;
height: 200px;
background-color:#333;
padding: 20px;
box-sizing:border-box;
float: left;

}
.footer img {

width: 120px;
margin:0 auto;
display: block;
margin-top: 20px;

}
.footer h1 {

font-family: 'robotoregular';
font-weight: bold;
font-size: 15px;
padding-top: 20px;
color: #6c6c6c;
text-align: left;

}
.footer a {

text-decoration: none;
color: #b0b0b0;

}
.footer a:hover {

color: #fff;

}
/* END */